* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 350px;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
  margin-left: 10px;
}

button {
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid #db1c48;
  border-radius: 12px;
  cursor: pointer;
}
